.event-mini-teaser {
  max-width: 300px;
  background-color: $blue;
  max-height: 110px;
  margin: 4% 0;

  .field--name-field-date::before {
    content: '';
  }

  img {
    border-radius: 50% !important;
    //border-color: black;
    //transform: scale(.7, .7);
    position: absolute;
    left: 6px;
    z-index: 1;

    top: 50%;
    border: 2px solid black;
  }
  .event-mini-teaser-inner {
    background-color: #ffffff;
    display: inline-block;
    width: 80%;
    position: relative;
    right: -13%;
    border-radius: 4%;
  }
}