.featured-event {
  height: 360px;
  width: 313px;
  background:  $blue;
  border-radius: 2%;
  position: relative;
  border-bottom: solid $blue 5px;
  margin-left: 15%;
  :hover {
    //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .featured-event-name {
    a{
      color: white !important;

      font-size: 22pt;

      padding-left: 3%;
    }
    p {
      font-size: 16pt;
      color: #fff;
      text-align: left;
    }

  }

  .event-short-description {
    background: #fff !important;

    height: 160px;

    width: 250px;

    margin-left: 17%;

    border-radius: 2%;

    p {
      padding: 5%;
    }
  }
 .event-image {

   img {
     border-radius: 50% !important;
     border: 2px solid black;
     //transform: scale(.7, .7);
     position: absolute;
     left: -32px;
     z-index: 1;

     top: 43%;
   }
 }
.event-bottom-section {
  //background: lightgray !important;
  height: 160px;

  width: 250px;

  margin-left: 17%;
  padding: 8%;
  border-radius: 2%;
  position: absolute;
  bottom: 0;
  background-color: $light-gray;
  border-top: 1px solid darken($light-gray, 8%);

  .glyphicon.glyphicon-user, .glyphicon.glyphicon-calendar {
    padding-top: 10px;
  }





  .field--name-field-date{
    padding-left: 5%;
  }

  p {
    padding: 15%;
  }

}


  .flex {
    display: flex;
  }
}
.field--name-field-details {

.p-button {

}
  a {
    color: white !important;
  }
}

//Set height of background search block
.paragraph--id--5 {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-button {
  background-color: $orange;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.5s ease-in-out;
  font: $font-myriad;
  /*height: 65px;*/
  //border-radius: 2%;
  //margin: 0px 17px;
  margin: 20px;
  margin-left: 45px;
  text-align: center;
  white-space: nowrap;
  position: relative;
  top: auto;
  left: auto;
  text-align: center;
  //min-width: 240px;
 // padding: 0 30px; //margin: 0 auto;
  display: table;
  border-radius: 10px;
  a {
    font: $font-myriad;
    font-size: 12pt;
   // min-width: 240px;
    color: $blue;
    font-weight: 900;
    padding-left: 0px;
    line-height: 30px;
    padding: 5px 5px;
    display: block;
  }
  a:hover {
    text-decoration: none;

  }

}
.p-button:hover {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  color: lighten($blue, 50%);
}