// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.path-frontpage.page-node-type-paneled-page.has-glyphicons{
  overflow-x: hidden;
}
.make-orange {
  color: $orange !important;;
}
/**
--------------------------- HOME PAGE STYLING ----------------------------
 */

/* Hero Panel */
.paragraph--type--xeno-hero {

  padding-top: 140px;

}
.field.field--name-bp-block.field--type-entity-reference.field--label-hidden.field--items {

  display: flex;
  justify-content: center;
#block-bartik-search {
  width: 800px;
  border: 10px solid rgba(0,0,0, .2);
  border-radius: 30px;

  .form-group {
    margin-bottom: 0;
  }

  #edit-keys {
    height: 50px;
    //width: 85px;
    border-top-left-radius: 20px;

    border-bottom-left-radius: 20px;

  }

  .button {
    height: 50px;
    width: 85px;
    border-top-right-radius: 20px;

    border-bottom-right-radius: 20px;
    background: $blue;

    .glyphicon-search::before {

      content: "Go!";
      font-family: $font-san;
      font-size: 16pt;

    }

  }
}


}
#edit-keys::placeholder {
  font-size: 16pt;
  text-align: center;
  font-family: $font-san;
}
/*Hero Panel Text */
.field.field--name-bp-unrestricted.field--type-text-long.field--label-hidden.field--item {
  h2 {
    text-align: center;
    font-size: 66pt;
    color: $blue;
    font-family: $font-sarif;
    font-style: italic;
    height: 50px;
    text-shadow: 3px 5px 2px #474747;
  }
  //text-align: center;

}

/* Featured Events Carousel */
.carousel-control {

  color: black;

}
.carousel-control.right, .carousel-control.left {

  background-image: unset;
}
.paragraph--id--17 {
  padding-bottom: 5%;


}

.clearfix.paragraph.paragraph--type--bp-columns.paragraph--view-mode--default.paragraph--id--3.paragraph--width--wide {
  background: lighten($light-blue, 55%);
}
/* About Us Section */
.paragraph--id--1 {
  font-family: $font-myriad;
  font-weight: 900;
  font-size: 20px;

  h3 {
    font-family: $font-myriad;
  }
}


/* My Events PAge Calendar */
.clearfix.paragraph.paragraph--type--bp-block.paragraph--view-mode--default.paragraph--id--10 {
  width: 75%;
  margin: 0 auto;
}